body {
    background-color: #ffffe6;
}

.site-logo-letter-o {
    color: red;
    font-weight: bold;
    font-size: x-large;
}

.site-logo-letter-t {
    color: yellow;
    font-weight: bold;
    font-size: x-large;
}

.site-logo-letter-s {
    color: blue;
    font-weight: bold;
    font-size: x-large;
}

.link-no-decoration {
    text-decoration: none;
}

.w3-font-roboto {
    font-family: 'Roboto', sans-serif;
}

#content-header {
    height: 150px;
    opacity: 0.5;
    background-color: red;
    color: white;
    font-size: 52px;
    font-family: 'Oswald',sans-serif;
}

.center {
    width: 1300px; height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#content-main {
    padding: 0 15px;
    background-color: pink;
}

#site-header {
    box-sizing: border-box;
    height: 46.5px;
}